<html>
    <head>
        <title>Told In Pages</title>
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <th>Title</th>
                    <th>Chapters</th>
                    <th>Pages</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for booklet in all_booklets %}
                    <tr>
                        <td>{{ booklet.title }}</td>
                        <td><a href="{% url 'all-chapters' booklet.id %}">{{ booklet.chapter_count }}</a></td>
                        <td>
                            <a href="{% url 'all-pages' booklet_id=booklet.id chapter_id=0 %}">{{ booklet.page_count }}</a>
                        </td>
                        <td>
                            <a href="{% url 'show-create-chapter' booklet.id %}">Add Chapter</a>
                            <a href="{% url 'show-create-page' booklet_id=booklet.id chapter_id=0 %}">Add Page</a>
                            <a href="{% url 'show-edit-booklet' booklet.id %}">Edit</a>
                            <a href="{% url 'delete-booklet' booklet.id %}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>