    <!-- Edit Profile Modal Starts Here -->
    <div class="modal modal-lg" id="profile-photo-modal-id" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center">
                <span class="fw-bold h4">Profile Photo</span>
              </div>
              <hr>
              <div>
                <div class="row">
                    <img class="img img-fluid" src="/media/{{ user.profile_photo }}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit Profile Modal Ends Here -->
